
 @font-face {
    font-family: "Kelsi-fill";
    src: url("./assets/fonts/Kelsi-fill.otf") format("opentype");
    }
    
     {
    font-family: 'Kelsi-fill', Arial, sans-serif !important;
    font-weight:normal;
    font-style:normal;
    }
